<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
      <script src="../javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="loginTable">
        <tr>
            <td> <label>用户名</label></td><td> <input type="text" id="username"></td>
        </tr>
        <tr>
            <td><label>密码</label></td>
            <td>    <input type="text" id="password"></td>
        </tr>
        <tr>
            <td>    <input type="button" id="button" value="登录">
            </td>
        </tr>
    </table>
    <script>
    </script>
  <script>
      //language=JQuery-CSS
      $("#button").click(function(){
          var username=$("#username").val();
          var password=$("#password").val();
          $.ajax({
              type: "post",
              url: '/',
              dataType: "json",
              data:{ username: username, password: password },
              success: function(data){
                  //接受返回的数据，前端判断采取的动作
                      if(data[0]==="false"){
                          alert('密码错误，请重新输入');
                          window.location.href="index";
                      }else{
                          $('#loginTable').empty();
                          $('#loginTable').append("Hello "+data[1]);
                      }
              }
          });
      });

  </script>
  </body>
</html>
