<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
      <script src="../javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="loginTable">
        <tr>
            <td> <label>用户名</label></td><td> <input type="text" id="username"></td>
        </tr>
        <tr>
            <td><label>密码</label></td>
            <td>    <input type="text" id="password"></td>
        </tr>
        <tr>
            <td>    <input type="button" id="button" value="登录">
            </td>
        </tr>
    </table>
    <script>
    </script>
  <script>
      //language=JQuery-CSS
      $("#button").click(function(){
          var username=$("#username").val();//获得id为username的元素的值
          var password=$("#password").val();//获得id为password的元素的值
          $.ajax({
              type: "post",//数据传输的方法，可以是post或者get。在这里我采用post。
              url: '/',//向哪个url发请求？此处意为向http://localhost:8081/发请求
              //如果是url:'/login'，就是向http://localhost:8081/login发请求
              //服务器的路径设置在app.js的第21行
              dataType: "json",//发送的数据的格式：json
              data:{ username: username, password: password },//发送的数据，json格式
              //如果传输成功，则调用success方法。同理，也有error方法，但是我没用。
              success: function(data){//参数data是服务器返回的数据
                      console.log(data);//在浏览器中的console显示。chrome可以按F12，点击console就可以看到报错或者返回值
              }
          });
      });

  </script>
  </body>
</html>
